*.py[cod]
*.so
*.egg
*~
*.egg-info
*.egg
RELEASE-VERSION
eggnest/*.cfg
parts
.installed.cfg
docs/Makefile
docs/make.bat
docs/html
docs/doctrees
.mr.developer.cfg
build
pyenv/
.*.swp
*.orig
.ropeproject
